services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
      - ./tests:/tests
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASSWORD=pass
      - MAIL_USERNAME=mail@example.com
      - MAIL_PASSWORD=password
      - MAIL_PORT=1025
      - MAIL_SERVER=mailhog
      - MAIL_FROM=noreply@paczkujto.com
      - SECRET_KEY=SECRET_KEY
    depends_on:
      - db
      - mailhog
    networks:
      - backend
    container_name: app

  db:
    image: postgres:17.0-alpine3.20
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    networks:
      - backend
    container_name: db
    volumes:
      - pgdata:/var/lib/postgresql/data 
    
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"   
      - "8025:8025"
    networks:
      - backend
    container_name: mailhog

networks:
  backend:

volumes:
  pgdata: 