.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f7f7f7;
    box-sizing: border-box;
}
@media (min-width: 600px) {
  .home-container{
    /* Wyśrodkuj w poziomie całą zawartość */
    align-items: center;
    justify-content: center;
  }
}
.home-logo {
  width: 160px;
  margin-bottom: 32px;
}

.home-title {
  margin-bottom: 32px;
  font-size: 2rem;
  color: #222;
}

.home-login-btn {
  padding: 16px 32px;
  font-size: 18px;
  background: var(--primary-color, #01c363);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 24px;
}
